<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/peliculas/list">Peliculas</a></li>
    <li class="breadcrumb-item active">Agregar</li>
</ol>
<h1 class="display-4">Agregar Pelicula</h1>
<form method="post" action="/peliculas/create">
    <div class="form-group">
        <label for="title">Nombre</label>
        <input type="text" name="nombre" class="form-control">
    </div>
    <div class="form-group">
        <label for="url">URL Imagen</label>
        <input type="text" name="url" class="form-control">
    </div>
    <div class="form-group">
        <label for="url">Fecha de Inicio</label>
        <input type="text" name="fecha_inicio" class="form-control" placeholder="MM/DD/YYYY">
    </div>
    <div class="form-group">
        <label for="url">Fecha de Vencimiento</label>
        <input type="text" name="fecha_vencimiento" class="form-control" placeholder="MM/DD/YYYY">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>