<h1 class="display-4">CMS Widget Cartelera</h1>
<p class="mb-4">CMS para Widget Cartelera</p>
<a href="/peliculas/list" class="btn btn-primary">Lista Peliculas</a>
<a href="/peliculas/add" class="btn btn-success">Agregar Pelicula</a>