<h1 class="display-4">Peliculas</h1>
<a href="/peliculas/add" class="btn btn-success mb-4">Agregar Pelicula</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% peliculas.forEach(function(pelicula){ %>
            <tr>
                <td>
                    <%= pelicula.id %>
                </td>
                <td>
                    <%= pelicula.nombre %>
                </td>
                <td>

                    <a href="/peliculas/edit/<%= pelicula.id %>" class="btn btn-primary">Editar</a>
                    <form class="d-inline" action="/peliculas/delete/<%= pelicula.id %>" method="post">
                        <input type="submit" value="Eliminar" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            <% }) %>
    </tbody>


</table>