<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">CMS Cartelera Cine</h5>
                    <form action="/login" method="post" class="form-signin">
                        <div class="form-label-group">
                            <label for="inputEmail">Usuario</label>
                            <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="inputPassword">Contraseña</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>