<div class="container">
    <h1>Signup</h1>
    <form action="/register" method="post">
        <div class="form-group">
            <label for="username">Choose a Username</label>
            <input name="username" class="form-control" type="text" placeholder="username" />
        </div>

        <label for="password">Choose a Password</label>
        <input name="password" class="form-control" type="password" placeholder="password" />
        <br>
        <input class="btn btn-primary" type="submit" value="Register" />
    </form>
</div>